cffi==1.15.0; python_version >= "3.6"
cryptography==36.0.1; python_version >= "3.6"
dbutils==3.0.2
grpc-example-common @ git+ssh://git@github.com/so1n/grpc-example-common.git@v0.1.5 ; python_version >= "3.8" and python_version < "4.0"
grpcio-tools==1.43.0; python_version >= "3.8" and python_version < "4.0"
grpcio==1.43.0; python_version >= "3.8" and python_version < "4.0"
protobuf==3.19.3; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pymysql==1.0.2; python_version >= "3.6"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.3.0"
